@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common css */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
button.log-button {
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    width: 135px;
    border: 1px solid #E02C6D;
}

/* end of common css */

/* header are css  */
header {
  background-color: #2d25a0;
  
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
    margin: 13px;
}
ul li a {
    color: #fff;
    text-decoration: none;
}
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:50px;
    
}
.banner-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.banner-right img {
    width: 100%;
}
h1.banner-left-heading {
    font-size: 64px;
    color: #fff;
    line-height: 80px;
    margin-right: 70px;
}
/* end of header area css  */

/* hero area css  */
