@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  font-family: poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common css */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
button.log-button {
    background-color: #E02C6D;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    height: 44px;
    width: 135px;
    border: 1px solid #E02C6D;
}

/* end of common css */

/* header are css  */
header {
  background-color: #2d25a0;
  
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.head-menu {
    display: flex;
}
ul.head-menu li {
    list-style: none;
    margin: 13px;
}
ul.head-menu li a {
    color: #fff;
    text-decoration: none;
}
.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:50px;

}
.banner-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.banner-right img {
    width: 100%;
}
h1.banner-left-heading {
    font-size: 64px;
    color: #fff;
    line-height: 80px;
    margin-right: 70px;
}
/* end of header area css  */

/* player deatils area  */

section.palyers {
    padding-top: 80px;
    padding-bottom: 150px;
}

.player-details {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: flex-start;
    justify-content: start;
    gap:30px;

}
.player-info {
    background-color: #ffff;
    box-shadow: 1px 18px 15px #80808063;
    padding: 20px;
    border-radius: 5px;
    height: 500px;
}
.player-images img {
    width: 100%;
}

/* heighlight section  */

section.heighligt {
    padding-bottom: 150px;
}
.highlight-are {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.highlight-details {
    margin-right: 100px;
}
.higlight-img img {
    width: 100%;
}
.highlight-details h4 {
    font-size: 48px;
    line-height: 60px;
}

/* footer area css */

.logo img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-are {
    padding-top: 20px;
}
.social-are ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-are ul li {
    list-style: none;
    margin: -24px;
}
.social-are ul li img {
    width: 40%;
}

.copyrirght-are p {
    text-align: center;
    padding-top: 20px;
}